@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme {
  --text-base: 16px;

  --color-black: rgba(39, 39, 39, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-textbody: rgba(75, 47, 46, 1);
  --color-body: rgba(75, 47, 46, 1);
  --color-textdisabled: rgba(156, 139, 138, 1);
  --color-style: rgba(148, 82, 57, 1);

  --color-primary-50: rgba(249, 246, 237, 1);
  --color-primary-100: rgba(240, 234, 209, 1);
  --color-primary-400: rgba(200, 161, 84, 1);
  --color-primary-600: rgba(156, 108, 50, 1);
  --color-primary-700: rgba(125, 80, 43, 1);

  --font-sans: "Poppins", Helvetica;
  --font-logo: "Bebas Neue", Helvetica;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply max-w-screen overflow-x-hidden;
  }

  a {
    @apply transition-colors duration-300 ease-in-out;
  }

  button {
    @apply cursor-pointer transition-all duration-300 ease-in-out;
  }
}

@layer components {
  .logo {
    @apply font-logo text-primary-400 text-[2rem];
    letter-spacing: 1.8px;
    line-height: normal;
  }

  .heading {
    @apply font-sans font-semibold text-black text-3xl md:text-4xl;
  }

  .heading-small {
    @apply font-sans font-semibold text-[20px] md:text-2xl;
  }

  .body-text {
    @apply font-sans leading-normal not-italic text-body;
  }

  .button {
    @apply bg-primary-50 flex items-center pl-6 pr-2 py-2 rounded-[48px];
  }
}

.animate-spin {
  animation: spin 240s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.navbar-collapse.show {
  max-height: 500px; /* A large enough value to show content */
}
